@page
@model ACWebApp.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />

<h1 class="text-success text-center">Bienvenido a Heallthy Pets!</h1>

