@page
@model ACWebApp.Pages.Propietarios.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3 class="center-align indigo-text text-darken-2">Editar Propietario</h3>

<br />

<div class="row">
    <form method="post" class="col s12">
        <input hidden asp-for="Propietario.Id" />

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <label for="nombre">Nombre</label>
                <input asp-for="Propietario.PrimerNombre" type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre...">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <label for="Apellido">Apellido</label>
                <input asp-for="Propietario.PrimerApellido" type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido...">
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de documento</label>
                <select asp-for="Propietario.TipoIdentificacion" class="custom-select" id="inlineFormCustomSelect">
                    <option value="" selected>Seleccione documento...</option>
                    <option value="Cédula">Cédula de ciudadanía</option>
                    <option value="Cédula de extranjería">Cédula de extranjería</option>
                    <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                </select>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <label for="nit">Número documento</label>
                <input asp-for="Propietario.Identificacion" type="number" class="form-control" id="nit" placeholder="Ingrese el número...">
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Ciudad</label>
                <select asp-for="Propietario.Ciudad" class="custom-select" id="inlineFormCustomSelect">
                    <option value="" selected>Seleccione la ciudad...</option>
                    <option value="Bogota">Bogotá</option>
                    <option value="Barranquilla">Barranquilla</option>
                    <option value="Cali">Cali</option>
                    <option value="Cartagena">Cartagena</option>
                    <option value="Medellin">Medellín</option>
                    <option value="SantaMarta">Santa Marta</option>
                    <option value="OtraCiudad">Otra ciudad</option>
                </select>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <label for="direccion">Dirección</label>
                <input asp-for="Propietario.Direccion" type="text" class="form-control" id="direccion" placeholder="Ingrese su dirección...">
            </div>
        </div>

        <br />


        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <label for="celular">Celular</label>
                <input asp-for="Propietario.Celular1" type="number" class="form-control" id="celular" placeholder="Ingrese su celular...">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <label for="telefono">Teléfono</label>
                <input asp-for="Propietario.Telefono1" type="number" class="form-control" id="telefono" placeholder="Ingrese su teléfono...">
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="observacion">Observación</label>
                <input asp-for="Propietario.Observacion" type="text" class="form-control" id="observacion" placeholder="Ingrese una observación...">
            </div>
        </div>

        <br />

        <div class="justify-content-center">
            <button type="submit"
                    class="btn btn-success">
                <i class="fas fa-save"></i>
                Guardar
            </button>

            <a asp-page="./Index"
               class="btn btn-success">
                <i class="fas fa-times-circle"></i>
                Cancelar
            </a>
        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
