@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="text-center text-success">
    <h2><i class="fas fa-paw"></i> Cambio de Email</h2>
</div>

<hr />
<partial name="_StatusMessage" model="Model.StatusMessage" />