@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="text-center text-success">
    <h2><i class="fas fa-paw"></i>Email cinfirmado</h2>
</div>

<hr />

<partial name="_StatusMessage" model="Model.StatusMessage" />