@page
@model LoginModel

@{
    ViewData["Title"] = "Ingresar";
}

<h2 class="text-success text-center">Iniciar sesión</h2>

<hr />

<h4 class="text-success container">Use su cuenta para iniciar sesión.</h4>

<hr />

<div class="container">
    <div class="row">
        <div class="col-12">
            <section>
                <form id="account" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Ingresar</button>
                    </div>

                    <hr />

                    <div class="form-group">
                        <p>
                            <a class="btn btn-outline-success" id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
                        </p>
                        <p>
                            <a class="btn btn-outline-success" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar un usuario nuevo</a>
                        </p>
                        <p>
                            <a class="btn btn-outline-success" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmación por correo electrónico</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
