@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}

<h2 class="text-success text-center">Registrarse</h2>

<hr />

<h4 class="text-success container">Crear una nueva cuenta en Healthy Pets.</h4>

<div class="container">
    <div class="row">
        <div class="col-12">

            <div>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label asp-for="Company.Name"></label>
                            <input asp-for="Company.Name" class="form-control" />
                            <span asp-validation-for="Company.Name" class="text-danger"></span>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label asp-for="Company.Nit"></label>
                            <input asp-for="Company.Nit" class="form-control" />
                            <span asp-validation-for="Company.Nit" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label asp-for="Company.Address"></label>
                            <input asp-for="Company.Address" class="form-control" />
                            <span asp-validation-for="Company.Address" class="text-danger"></span>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label class="mr-sm-2" for="inlineFormCustomSelect">Ciudad</label>
                            <select asp-for="Company.City" class="custom-select form-control" id="inlineFormCustomSelect">
                                <option value="" selected>Seleccione la ciudad...</option>
                                <option value="Bogota">Bogotá</option>
                                <option value="Barranquilla">Barranquilla</option>
                                <option value="Cali">Cali</option>
                                <option value="Cartagena">Cartagena</option>
                                <option value="Medellin">Medellín</option>
                                <option value="SantaMarta">Santa Marta</option>
                                <option value="OtraCiudad">Otra ciudad</option>
                            </select>
                            <span asp-validation-for="Company.City" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label asp-for="Company.Phone"></label>
                            <input asp-for="Company.Phone" class="form-control" />
                            <span asp-validation-for="Company.Phone" class="text-danger"></span>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />

                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
