@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="text-success text-center">Confirmar cuenta</h1>

<br />

@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p class="text-success text-center font-weight-bolder">
        Por favor revise su correo electrónico para confirmar su cuenta.
    </p>
    }
    else
    {
        <p class="text-danger text-center font-weight-bolder">
            No se pudo crear su cuente, por favor intente de nuevo.
        </p>
    }
}
