@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="text-success text-center">
    <h2>Confirmación de contraseña</h2>
</div>

<hr />

<p>
    Tu contraseña ha sido restablecida. Por favor <a asp-page="./Login">Haga clic aquí para ingresar</a>.
</p>
