@page
@model ACWebApp.Pages.Pacientes.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center text-success">
    <h3>Editar paciente</h3>
</div>

<hr />

<div class="container">
    <form method="post" class="col-12">
        <input hidden asp-for="Paciente.Id"/>
        <input hidden asp-for="Paciente.OwnerId"/>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" class="form-control" asp-for="Paciente.Nombre" placeholder="Ingrese el nombre...">
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <label for="color">Color</label>
                <input id="color" type="text" class="form-control" asp-for="Paciente.Color" placeholder="Ingrese el color...">
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <label for="senas_particulares">Señas Particulares</label>
                <input id="senas_particulares" type="text" class="form-control" asp-for="Paciente.SenasParticulares" placeholder="Ingrese las señas...">
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <label for="zona">Zona</label>
                <input id="zona" type="text" class="form-control" asp-for="Paciente.Zona" placeholder="Ingrese la zona...">
            </div>

        </div>

        <br />


        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <label for="chip">Chip</label>
                <input id="chip" type="text" class="form-control" asp-for="Paciente.Chip" placeholder="Ingrese el chip...">
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <label for="numero_chip">Número Chip</label>
                <input id="numero_chip" type="text" class="form-control" asp-for="Paciente.NumeroChip" placeholder="Ingrese número...">
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <label for="datepicker">Fecha Nacimiento</label>
                <input id="datepicker" type="text" class="form-control" asp-for="Paciente.FechaNacimiento">
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <label for="fecha_defuncion">Fecha Defunción</label>
                <input id="fecha_defuncion" type="text" class="form-control" asp-for="Paciente.FechaDefuncion">
            </div>

        </div>

        <br />

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <label for="motivo_defuncion">Motivo Defunción</label>
                <input id="motivo_defuncion" type="text" class="form-control" asp-for="Paciente.MotivoDefuncion" placeholder="Ingrese el motivo...">
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <label for="observacion">Orservación</label>
                <input id="observacion" type="text" class="form-control" asp-for="Paciente.Observacion" placeholder="Ingrese las observaciones...">
            </div>

        </div>
        <br />

        <div>
            <button type="submit"
                    class="btn btn-success">
                <i class="fas fa-save"></i>
                Guardar
            </button>

            <a asp-page="./Index"
               class="btn btn-success">
                <i class="fas fa-times-circle"></i>
                Cancelar
            </a>
        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
